{{ define "markdownCss" }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css" integrity="sha512-Ya9H+OPj8NgcQk34nCrbehaA0atbzGdZCI2uCbqVRELgnlrh8vQ2INMnkadVMSniC54HChLIh5htabVuKJww8g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{end}}


{{ define "main" }}

<div class="container">
  <div class="article">
    <h1 class="title">{{ .Title }}</h1>
    <div class="meta"><time datetime="{{ .PublishDate }}">{{ i18n "publishDateFull" . }}</time> 
        
        {{ with .Params.tags }}
        {{ range . }}
        <a href="{{ "tags/" | absURL }}{{ . | urlize }}" class="link-reset hover:bs-secondary-color">#{{ . }}</a>
        {{ end }}
        {{ end }}
    
    </div>
        
        <div class="markdown-body"> {{ .Content }}</div>

        {{ if or .Site.Params.showToc .Params.showToc }}
        {{ partial "toc.html" . }}
        {{ end }}


</div>



{{ partial "comment.html" . }}
</div>

{{ end }}

