<header class="container-fluid">
  <div class="container">
    {{ if not .IsPage }}
    <!-- 这不是一个单个页面 -->
    <div class="d-flex user_info">
      <div class="logo flex-shrink-0">
        <img width="150" height="150" alt="logo" src="{{.Site.Params.Avatar}}" />
      </div>
      <div class="flex-grow-1" style="margin-left: 2rem">
        <h1>{{ .Site.Title }}</h1>
        <div class="bio">{{.Site.Params.Bio}}</div>
        {{- partial "social.html" . -}}
      </div>
    </div>
    {{ end }}

<nav>
  {{ if .IsPage }}
    <ul class="d-flex list-unstyled articlenav">
  {{else}}
    <ul class="d-flex list-unstyled">
  {{ end }}
  {{- $currentPage := . -}}
  {{- with .Site.Menus.main -}}
    {{- range $index, $value := . -}}
      {{- $menu_item_url := .URL | relLangURL -}}
      {{- $page_url:= $currentPage.RelPermalink | relLangURL }}
      <li><a
          {{ if eq $menu_item_url $page_url }}class="active"{{ end }}
          href="{{- .URL | relURL -}}"
          {{ if .Params.target }}target="{{ .Params.target -}}"{{ end -}}>
          {{- .Name -}}</a>
      </li>
    {{- end -}}
  {{ end -}}
  </ul>
</nav>
  </div>
</header>
