<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
    <style>
      html,
      body {
        height: 100%;
      }
      .section {
        align-content: center;
        height: 60%;
      }
      .notfound {
        text-align: center;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <section class="section">
      <main class="container">
        <div class="notfound">
          <p>404</p>
          <h1 class="title is-1">Page not found</h1>
          <p class="subtitle">Sorry, we couldn’t find the page you’re looking for</p>
          <div class="action"><a class="button is-dark" href="/">Go back home</a></div>
        </div>
      </main>
    </section>
  </body>
</html>
